body{
    background-color: white;
}
p{
    font-size: 24px;
    line-height: 1.25;
    font-style: italic;
}
h1,h2{
      color: black;
      text-decoration: center;
}
p{color: black;
    text-decoration: center;
}
